<app-menu-bar/>
<app-menu-title/>
<main>
    <article>
        <a href="#"><app-big-card/></a>
    </article>
    <aside>
        <app-small-card photoCover="../../../assets/crimes-ciberneticos.webp" cardTitle="Cresce onda de crimes cibernéticos no Brasil"/>
        <app-small-card photoCover="../../../assets/opena.jpg" cardTitle="ChatGPT 4 já é uma realidade e supera expectativas"/>
        <app-small-card photoCover="../../../assets/twitter.webp" cardTitle="Twitter passando por grandes mudanças"/>
        <app-small-card photoCover="../../../assets/crimes-ciberneticos.webp" cardTitle="Veja as principais carreiras de TI"/>
        <app-small-card photoCover="../../../assets/ubuntu.jpg" cardTitle="Nova Versao do umbutu chega em 2023"/>
    </aside>
</main>



